<!DOCTYPE html>
<html>
<head>
    <title>Analyse </title>
</head>
<body>
    <header>
        <h1>Analyse des données</h1>
    </header>
    <main>
        <h3>Trade longue après croisement à la hausse</h3>
        <!-- Tableau pour l'ouverture de trade longue -->
        <div class="scrollable-table">
            <!-- Utilise l'élément iframe pour afficher le contenu.html -->
            <iframe src="static/tableau/long_trade.html" width="100%" height="500px" frameborder="0"></iframe>
        </div>
        <p>Le tableau présenté ci-dessus affiche les dates et les prix d'ouverture des transactions longues réalisées après un croisement haussier des moyennes mobiles. Il comprend également des informations cruciales pour prendre position sur les marchés financiers, telles que le motif de fermeture, la durée d'ouverture de la transaction, ainsi que la variation de prix.</p>

        <h3>Trade courte après croisement à la baisse</h3>
        <!-- Tableau pour l'ouverture de trade courte -->
        <div class="table-container">
            <div class="scrollable-table">
                <!-- Utilise l'élément iframe pour afficher le contenu.html -->
                <iframe src="static/tableau/short_trade.html" width="100%" height="500px" frameborder="0"></iframe>
            </div>
    </main>
</body>
</html>
