<!DOCTYPE html>
<html>
<head>
    <title>Croisement des moyennes mobiles</title>
</head>
<body>
    <main>
        <section>
            <h2>Croisement des moyennes mobiles</h2>
            <p>Le croisement des moyennes mobiles est une stratégie couramment utilisée par les traders pour identifier les changements de tendance. Cette méthode consiste à observer les croisements entre deux moyennes mobiles de différentes périodes. Un croisement de la moyenne mobile courte au-dessus de la moyenne mobile longue est souvent considéré comme un signal d'achat, tandis qu'un croisement de la moyenne mobile courte en dessous de la moyenne mobile longue est considéré comme un signal de vente.</p>
            <div class="columns-container">
                <div class="column">
                    <img src="static/graph/graph_croisement.png" alt="Graphique 2" width="1000">
                </div>
            </div>
            <div class="table-container">
                <h4>Tableau de Signal Hausse</h4>
                <div class="scrollable-table">
                    <p>Tableau représentant toutes les données où un signal à la hausse est détecté, avec la date et les prix de clôture correspondants.</p>
                    <!-- Utilise l'élément iframe pour afficher le contenu.html -->
                    <iframe src="static/tableau/signal_hausse.html" width="100%" height="400px" frameborder="0"></iframe>
                </div>
                <h4>Tableau de Signal Baisse</h4>
                <div class="scrollable-table">
                    <p>Tableau représentant toutes les données où un signal à la baisse est détecté, avec la date et les prix de clôture correspondants.</p>
                    <!-- Utilise l'élément iframe pour afficher le contenu.html -->
                    <iframe src="static/tableau/signal_baisse.html" width="100%" height="300px" frameborder="0"></iframe>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
