<!DOCTYPE html>
<html>
<head>
    <title>Étude et analyse d'une crypto-monnaie</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/custom.css">
</head>
<body>
    <header>
        <h1>Étude et analyse d'une crypto-monnaie</h1>
        <p>Nous entreprenons une étude axée sur les événements propices à la prise de position sur les marchés financiers, en particulier les marchés des cryptomonnaies hautement volatiles. Dans cette optique, nous définissons les événements clés à surveiller, puis nous procédons à des backtests pour évaluer rétroactivement les résultats potentiels des stratégies de trading basées sur ces événements. Pour cela, nous allons travailler sur des données représentant l'historique des bougies 1h d'une crypto donnée. Notre objectif est d'extraire le maximum d'informations qui puissent nous être utiles pour prendre des positions éclairées. Nous cherchons à utiliser des analyses statistiques pour accroître notre probabilité de gain.</p>
    </header>
    <main>
        <h2>Données</h2>
        <ul>
            <li><a href="moyenne_expo.html">Moyenne exponentielle</a></li>
            <li><a href="croisement_moyennes_mobiles.html">Croisement des moyennes mobiles</a></li>
            <li><a href="analyse.html">Analyse</a></li>
        </ul>
    </main>
</body>
</html>
