<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Date_Ouverture</th>
      <th>Prix_Ouverture</th>
      <th>Date_Fermeture</th>
      <th>Prix_Fermeture</th>
      <th>Variation_Prix</th>
      <th>Motif_Fermeture</th>
      <th>Duree_Trade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2022-01-01 05:00:00</td>
      <td>3735.61</td>
      <td>2022-01-02 15:46:00</td>
      <td>3786.72</td>
      <td>1.37</td>
      <td>Bénéfice</td>
      <td>1 jours, 10 heures, 46 minutes</td>
    </tr>
    <tr>
      <td>2022-01-01 17:00:00</td>
      <td>3760.77</td>
      <td>2022-01-02 16:48:00</td>
      <td>3806.00</td>
      <td>1.20</td>
      <td>Bénéfice</td>
      <td>0 jours, 23 heures, 48 minutes</td>
    </tr>
    <tr>
      <td>2022-01-04 10:00:00</td>
      <td>3805.76</td>
      <td>2022-01-04 13:52:00</td>
      <td>3863.14</td>
      <td>1.51</td>
      <td>Bénéfice</td>
      <td>0 jours, 3 heures, 52 minutes</td>
    </tr>
    <tr>
      <td>2022-01-09 18:00:00</td>
      <td>3168.63</td>
      <td>2022-01-09 19:32:00</td>
      <td>3207.38</td>
      <td>1.22</td>
      <td>Bénéfice</td>
      <td>0 jours, 1 heures, 32 minutes</td>
    </tr>
    <tr>
      <td>2022-01-11 04:00:00</td>
      <td>3118.17</td>
      <td>2022-01-11 16:05:00</td>
      <td>3158.63</td>
      <td>1.30</td>
      <td>Bénéfice</td>
      <td>0 jours, 12 heures, 5 minutes</td>
    </tr>
    <tr>
      <td>2022-01-14 19:00:00</td>
      <td>3307.55</td>
      <td>2022-01-15 15:33:00</td>
      <td>3350.60</td>
      <td>1.30</td>
      <td>Bénéfice</td>
      <td>0 jours, 20 heures, 33 minutes</td>
    </tr>
    <tr>
      <td>2022-01-16 06:00:00</td>
      <td>3334.38</td>
      <td>2022-01-16 16:21:00</td>
      <td>3387.77</td>
      <td>1.60</td>
      <td>Bénéfice</td>
      <td>0 jours, 10 heures, 21 minutes</td>
    </tr>
    <tr>
      <td>2022-01-16 13:00:00</td>
      <td>3340.46</td>
      <td>2022-01-16 16:21:00</td>
      <td>3387.77</td>
      <td>1.42</td>
      <td>Bénéfice</td>
      <td>0 jours, 3 heures, 21 minutes</td>
    </tr>
    <tr>
      <td>2022-01-20 06:00:00</td>
      <td>3144.79</td>
      <td>2022-01-20 14:00:00</td>
      <td>3186.52</td>
      <td>1.33</td>
      <td>Bénéfice</td>
      <td>0 jours, 8 heures, 0 minutes</td>
    </tr>
    <tr>
      <td>2022-01-23 10:00:00</td>
      <td>2533.92</td>
      <td>2022-01-23 14:47:00</td>
      <td>2415.66</td>
      <td>-4.67</td>
      <td>Perte</td>
      <td>0 jours, 4 heures, 47 minutes</td>
    </tr>
    <tr>
      <td>2022-01-24 21:00:00</td>
      <td>2442.00</td>
      <td>2022-01-24 21:34:00</td>
      <td>2471.60</td>
      <td>1.21</td>
      <td>Bénéfice</td>
      <td>0 jours, 0 heures, 34 minutes</td>
    </tr>
    <tr>
      <td>2022-01-27 15:00:00</td>
      <td>2479.84</td>
      <td>2022-01-27 15:10:00</td>
      <td>2513.08</td>
      <td>1.34</td>
      <td>Bénéfice</td>
      <td>0 jours, 0 heures, 10 minutes</td>
    </tr>
    <tr>
      <td>2022-01-28 16:00:00</td>
      <td>2474.00</td>
      <td>2022-01-28 20:42:00</td>
      <td>2505.93</td>
      <td>1.29</td>
      <td>Bénéfice</td>
      <td>0 jours, 4 heures, 42 minutes</td>
    </tr>
    <tr>
      <td>2022-01-31 15:00:00</td>
      <td>2620.66</td>
      <td>2022-01-31 16:46:00</td>
      <td>2653.69</td>
      <td>1.26</td>
      <td>Bénéfice</td>
      <td>0 jours, 1 heures, 46 minutes</td>
    </tr>
    <tr>
      <td>2022-02-04 01:00:00</td>
      <td>2679.10</td>
      <td>2022-02-04 05:17:00</td>
      <td>2720.35</td>
      <td>1.54</td>
      <td>Bénéfice</td>
      <td>0 jours, 4 heures, 17 minutes</td>
    </tr>
    <tr>
      <td>2022-02-06 23:00:00</td>
      <td>3054.99</td>
      <td>2022-02-07 05:13:00</td>
      <td>3095.11</td>
      <td>1.31</td>
      <td>Bénéfice</td>
      <td>0 jours, 6 heures, 13 minutes</td>
    </tr>
    <tr>
      <td>2022-02-09 00:00:00</td>
      <td>3129.08</td>
      <td>2022-02-09 12:40:00</td>
      <td>3172.03</td>
      <td>1.37</td>
      <td>Bénéfice</td>
      <td>0 jours, 12 heures, 40 minutes</td>
    </tr>
    <tr>
      <td>2022-02-09 10:00:00</td>
      <td>3136.30</td>
      <td>2022-02-09 12:41:00</td>
      <td>3185.04</td>
      <td>1.55</td>
      <td>Bénéfice</td>
      <td>0 jours, 2 heures, 41 minutes</td>
    </tr>
    <tr>
      <td>2022-02-14 13:00:00</td>
      <td>2937.16</td>
      <td>2022-02-15 01:34:00</td>
      <td>2975.28</td>
      <td>1.30</td>
      <td>Bénéfice</td>
      <td>0 jours, 12 heures, 34 minutes</td>
    </tr>
    <tr>
      <td>2022-02-16 19:00:00</td>
      <td>3169.28</td>
      <td>2022-02-17 08:35:00</td>
      <td>3042.30</td>
      <td>-4.01</td>
      <td>Perte</td>
      <td>0 jours, 13 heures, 35 minutes</td>
    </tr>
    <tr>
      <td>2022-02-21 03:00:00</td>
      <td>2710.89</td>
      <td>2022-02-21 04:54:00</td>
      <td>2745.16</td>
      <td>1.26</td>
      <td>Bénéfice</td>
      <td>0 jours, 1 heures, 54 minutes</td>
    </tr>
    <tr>
      <td>2022-02-21 16:00:00</td>
      <td>2710.71</td>
      <td>2022-02-21 21:55:00</td>
      <td>2601.68</td>
      <td>-4.02</td>
      <td>Perte</td>
      <td>0 jours, 5 heures, 55 minutes</td>
    </tr>
    <tr>
      <td>2022-02-22 19:00:00</td>
      <td>2632.74</td>
      <td>2022-02-23 06:01:00</td>
      <td>2664.79</td>
      <td>1.22</td>
      <td>Bénéfice</td>
      <td>0 jours, 11 heures, 1 minutes</td>
    </tr>
    <tr>
      <td>2022-02-24 20:00:00</td>
      <td>2651.47</td>
      <td>2022-02-24 20:04:00</td>
      <td>2708.55</td>
      <td>2.15</td>
      <td>Bénéfice</td>
      <td>0 jours, 0 heures, 4 minutes</td>
    </tr>
    <tr>
      <td>2022-02-27 10:00:00</td>
      <td>2810.73</td>
      <td>2022-02-27 19:24:00</td>
      <td>2694.90</td>
      <td>-4.12</td>
      <td>Perte</td>
      <td>0 jours, 9 heures, 24 minutes</td>
    </tr>
    <tr>
      <td>2022-02-28 15:00:00</td>
      <td>2815.44</td>
      <td>2022-02-28 22:27:00</td>
      <td>2849.81</td>
      <td>1.22</td>
      <td>Bénéfice</td>
      <td>0 jours, 7 heures, 27 minutes</td>
    </tr>
    <tr>
      <td>2022-03-02 21:00:00</td>
      <td>2975.05</td>
      <td>2022-03-03 15:15:00</td>
      <td>2846.98</td>
      <td>-4.30</td>
      <td>Perte</td>
      <td>0 jours, 18 heures, 15 minutes</td>
    </tr>
    <tr>
      <td>2022-03-03 00:00:00</td>
      <td>2965.47</td>
      <td>2022-03-03 15:16:00</td>
      <td>2845.99</td>
      <td>-4.03</td>
      <td>Perte</td>
      <td>0 jours, 15 heures, 16 minutes</td>
    </tr>
    <tr>
      <td>2022-03-05 22:00:00</td>
      <td>2670.06</td>
      <td>2022-03-06 23:22:00</td>
      <td>2551.98</td>
      <td>-4.42</td>
      <td>Perte</td>
      <td>1 jours, 1 heures, 22 minutes</td>
    </tr>
    <tr>
      <td>2022-03-07 16:00:00</td>
      <td>2593.19</td>
      <td>2022-03-07 16:05:00</td>
      <td>2632.21</td>
      <td>1.50</td>
      <td>Bénéfice</td>
      <td>0 jours, 0 heures, 5 minutes</td>
    </tr>
    <tr>
      <td>2022-03-08 09:00:00</td>
      <td>2585.41</td>
      <td>2022-03-08 18:07:00</td>
      <td>2620.65</td>
      <td>1.36</td>
      <td>Bénéfice</td>
      <td>0 jours, 9 heures, 7 minutes</td>
    </tr>
    <tr>
      <td>2022-03-11 11:00:00</td>
      <td>2652.63</td>
      <td>2022-03-11 20:48:00</td>
      <td>2543.90</td>
      <td>-4.10</td>
      <td>Perte</td>
      <td>0 jours, 9 heures, 48 minutes</td>
    </tr>
    <tr>
      <td>2022-03-12 10:00:00</td>
      <td>2586.87</td>
      <td>2022-03-15 18:58:00</td>
      <td>2617.99</td>
      <td>1.20</td>
      <td>Bénéfice</td>
      <td>3 jours, 8 heures, 58 minutes</td>
    </tr>
    <tr>
      <td>2022-03-12 12:00:00</td>
      <td>2588.70</td>
      <td>2022-03-15 18:59:00</td>
      <td>2626.52</td>
      <td>1.46</td>
      <td>Bénéfice</td>
      <td>3 jours, 6 heures, 59 minutes</td>
    </tr>
    <tr>
      <td>2022-03-12 16:00:00</td>
      <td>2595.15</td>
      <td>2022-03-15 18:59:00</td>
      <td>2626.52</td>
      <td>1.21</td>
      <td>Bénéfice</td>
      <td>3 jours, 2 heures, 59 minutes</td>
    </tr>
    <tr>
      <td>2022-03-12 20:00:00</td>
      <td>2587.61</td>
      <td>2022-03-15 18:59:00</td>
      <td>2626.52</td>
      <td>1.50</td>
      <td>Bénéfice</td>
      <td>2 jours, 22 heures, 59 minutes</td>
    </tr>
    <tr>
      <td>2022-03-13 03:00:00</td>
      <td>2591.92</td>
      <td>2022-03-15 18:59:00</td>
      <td>2626.52</td>
      <td>1.33</td>
      <td>Bénéfice</td>
      <td>2 jours, 15 heures, 59 minutes</td>
    </tr>
    <tr>
      <td>2022-03-13 10:00:00</td>
      <td>2588.57</td>
      <td>2022-03-15 18:59:00</td>
      <td>2626.52</td>
      <td>1.47</td>
      <td>Bénéfice</td>
      <td>2 jours, 8 heures, 59 minutes</td>
    </tr>
    <tr>
      <td>2022-03-14 08:00:00</td>
      <td>2593.62</td>
      <td>2022-03-15 18:59:00</td>
      <td>2626.52</td>
      <td>1.27</td>
      <td>Bénéfice</td>
      <td>1 jours, 10 heures, 59 minutes</td>
    </tr>
    <tr>
      <td>2022-03-15 00:00:00</td>
      <td>2587.68</td>
      <td>2022-03-15 18:59:00</td>
      <td>2626.52</td>
      <td>1.50</td>
      <td>Bénéfice</td>
      <td>0 jours, 18 heures, 59 minutes</td>
    </tr>
    <tr>
      <td>2022-03-15 16:00:00</td>
      <td>2602.25</td>
      <td>2022-03-15 19:00:00</td>
      <td>2635.09</td>
      <td>1.26</td>
      <td>Bénéfice</td>
      <td>0 jours, 3 heures, 0 minutes</td>
    </tr>
    <tr>
      <td>2022-03-21 10:00:00</td>
      <td>2910.28</td>
      <td>2022-03-21 15:22:00</td>
      <td>2945.99</td>
      <td>1.23</td>
      <td>Bénéfice</td>
      <td>0 jours, 5 heures, 22 minutes</td>
    </tr>
    <tr>
      <td>2022-03-23 15:00:00</td>
      <td>3031.59</td>
      <td>2022-03-24 00:13:00</td>
      <td>3073.31</td>
      <td>1.38</td>
      <td>Bénéfice</td>
      <td>0 jours, 9 heures, 13 minutes</td>
    </tr>
  </tbody>
</table>